* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #f4f4f4;
  color: #555555;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: normal;

  line-height: 1.9em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}
a:active {
  color: green;
}
.clr {
  clear: both;
}
.container {
  width: 80%;
  margin: auto;
}

.box-1 {
  background-color: #333333;
  color: #fff;
  border: 2px solid red;
  border-width: 5px;
  border-bottom-width: 10px;
  padding: 1rem;
}

.box-2 {
  border: 2px solid green;
  border-width: 5px;
  border-bottom-width: 10px;
  padding: 1rem;
  margin: 1rem 0;
}

.box-1 h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 800;
  text-decoration: line-through;
  text-transform: lowercase;
  letter-spacing: 0.2em;
  word-spacing: 1em;
}

.categories {
  padding: 2rem;
  border: 1px solid blue;
  border-radius: 1rem;
}

.categories h1 {
  text-align: center;
}

.categories ul {
  padding: 0;
  list-style: square;
}

.categories li {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.my-form {
  padding: 1rem;
}

.my-form .form-group {
  padding-bottom: 0.5rem;
}

.my-form label {
  display: block;
}

.my-form input[type="text"],
.my-form input[type="email"],
.my-form textarea {
  padding: 0.5rem;
  width: 100%;
}

.btn {
  background-color: #333333;
  color: #fff;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  filter: brightness(50%);
}

.block {
  float: left;
  width: 33.3%;
  border: 1px solid black;
  padding: 1rem;
  box-sizing: border-box;
}
#main-block {
  float: left;
  width: 70%;
  box-sizing: border-box;
}
#sidebar {
  float: right;
  width: 30%;
  color: white;
  background-color: red;
  padding: 1rem;
  box-sizing: border-box;
}

.p-box {
  width: 800px;
  height: 500px;
  border: 1px solid red;
  margin-top: 2rem;
  position: relative;
  background-image: url("bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.p-box h1 {
  position: absolute;
  top: 40px;
  left: 200px;
}

.p-box h2 {
  position: absolute;
  bottom: 20px;
  right: 100px;
}

.fix-me {
  position: fixed;
  top: 400px;
}

.my-list {
  margin: 2rem;
}

.my-list li:first-child {
  background-color: red;
}

.my-list li:last-child {
  background-color: gold;
}

.my-list li:nth-child(5) {
  background-color: green;
}

.my-list li:nth-child(even) {
  background-color: blue;
}
